.topnav {
  background-color: #097ABC;
  background-attachment: fixed;
  width: 100%;
  height: 50px;
  border: 2px white solid;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
}

.topnav a {
  font-size: 20px;
  font-style: normal;
  padding-left: 50px;
  text-decoration: none;
  color: white;


}

.topnav a:hover {
  text-decoration: underline;
  background-color: white;
  color: #097ABC;
}

body {
  background-image: url(https://www.hdwallpapers.in/walls/city_at_beach_fantasy-wide.jpg) ;
  background-attachment: fixed;
}

h1 {
  text-shadow: 5px 5px 5px black;
  color: white;
  text-align: center;
  padding: 100px;
  font-family: georgia, arial, serif;
  font-size: 75px;
}

h2 {
  font-family: georgia, arial, serif;
  font-size: 2em;
  text-align: center;
  background-color: #097ABC;
  border: 2px white solid;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  
}

.presentation {
  text-align: center;
  font-size: 25px;
  padding: 10px;
  margin-left: auto;
}

.competence {

}

section {
  background-color: #ECE9D8;
  background-attachment: fixed;
  border: 2px black solid;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  width: 70%;
  margin: auto;
}

img {
float: left;
}

progress {
color: #097ABC;
}
